@model IEnumerable<LaheKvass.Models.DrinkModel>

@{
    ViewBag.Title = "Store";
}

<h2>Store</h2>

@foreach (LaheKvass.Models.DrinkModel item in Model) {
    <div class="drink-item" data-id="@item.Id">
        <p>
            @Html.DisplayFor(modelItem => item.DrinkName)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Price)
        </p>
    </div>
}
<script>
    document.addEventListener('click', function (event) {
        const drinkItem = event.target.closest('.drink-item');
        if (drinkItem) {
            const drinkId = drinkItem.dataset.id;
            addToCart(drinkId);
        }
    });

    function addToCart(drinkId) {
        fetch('/Drink/AddToCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: drinkId,
            })
        })
        alert("Lisatud ostukorvi edukalt!");
    }
</script>
